appdirs
beautifulsoup4
buildozer
colorama
cx-freeze
cython
docutils
huey
jinja2
pep517
pip-chill
pygments
pyperclip
PyQt6-stubs
PyQt6-WebEngine
pyserial
pytest-cov
pytest-mock
pytest-qt
qtbot
requests
pynguin
