appdirs
beautifulsoup4
buildozer
colorama
cx-freeze
cython
docutils
huey
jinja2
pep517
pip-chill
pygments
pyperclip
pyqt5-stubs
pyqtwebengine
pyserial
pytest-cov
pytest-mock
pytest-qt
qtbot
requests
pynguin
