atomicwrites==1.4.0
attrs==21.2.0
backports.entry-points-selectable==1.1.1
certifi==2021.10.8
cfgv==3.3.1
charset-normalizer==2.0.8
coverage==6.1.2
distlib==0.3.3
filelock==3.4.0
huey==2.4.1
identify==2.4.0
idna==3.3
more-itertools==8.12.0
nodeenv==1.6.0
packaging==21.3
platformdirs==2.4.0
pluggy==0.13.1
pre-commit==2.15.0
py==1.11.0
pyparsing==3.0.6
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.0
pyserial==3.4
pytest==5.2.2
pytest-cov==2.8.1
pytest-qt==4.0.2
python-xlib==0.31
PyUserInput==0.1.11
PyYAML==6.0
qtbot==0.0.1
requests==2.26.0
six==1.16.0
toml==0.10.2
urllib3==1.26.7
virtualenv==20.10.0
wcwidth==0.2.5
